// Mapa de colores mejorado
$colors: (
  light: (             
    primary: #0B2238,    
    secondary: #0571D4,
    background: #ffffff,
    background-secondary: #B3DDFC,
    background-tertiary: #4b5563,
    background-image: #f7f7f7,
    hover-button: #004483,
    text: #012C55,    
    text-secondary: #f3f4f6,
    border: #e5e7eb,
    disabled: #9ca3af, // Nuevo
    error: #dc2626,
    success: #16a34a

    f7f7f7
  ),
  dark: (
    primary: #0B2238,    
    secondary: #0053A1,
    background: #111827,
    background-secondary: #B3DDFC,
    text: #f9fafb,
    text-secondary: #f3f4f6,
    border: #374151,
    disabled: #4b5563,
    error: #ef4444,
    success: #22c55e
  )
);

// // Función para obtener colores
// @function color($color-name, $theme: light) {
//   @return map-get(map-get($colors, $theme), $color-name);
// }

// Variables CSS para temas dinámicos
:root {
  @each $name, $color in map-get($colors, light) {
    --#{$name}: #{$color};
  }
}

[data-theme="dark"] {
  // @each $name, $color in map-get($colors, dark) {
  //   --#{$name}: #{$color};
  // }
}