@import '../../styles/variables';

.homePage {
    min-height: 88vh;
}

.sectionContainer{    
  scroll-margin-top: 12vh; // <= esto es lo clave
  min-height: 100vh;
  padding-top: 6vh;
  padding-bottom: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.homeSection{
    background-image: url('images/backgrounds/home-background.png');

    .home-image {
        max-width: 70vh;
    }
}

.aboutUsSection {
    background-color: var(--secondary);
    min-height: 88vh;
}

.productsSection {
    background-color: var(--disabled);    

    .page-products-container {        
        min-height: 88vh;

        .page-products-title-container {        
            padding-top: 8rem;
            padding-bottom: 3rem;
            
            .page-products-title {        
                
                text-align: center;
            }
        }
        

        .products-grid {
            display: grid;    
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding: 0 1rem;
        }

        @media (max-width: 1024px) {
            .products-grid {        
                grid-template-columns: repeat(2, 1fr);
            }
        }


        @media (max-width: 768px) {
            .products-grid {        
                grid-template-columns: repeat(1, 1fr);
            }        
        }
    }
}


.contactSection {
    background-color: var(--disabled);
}





@media (max-width: 768px) {
  .sectionContainer {
    scroll-margin-top: 14vh;
  }
}