@import '../../styles/variables';

.homePage {
    min-height: 90vh;
}

.sectionContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;        
    
}

.homeSection{
    background-color: var(--background);
}

.aboutUsSection {
    background-color: var(--secondary);
}

.productsSection {
    background-color: var(--disabled);
}


.contactSection {
    background-color: var(--disabled);
}