@import '../../../styles/variables';
.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color:  var(--secondary);
  color: var(--text-secondary);    
}

.base-button:hover {
  background-color:  var(--hover-button);
  color: var(--text-secondary);    
}


.button-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
