@import '../../../styles/variables';

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 2000;
    transition: background-color 0.3s ease;  

    .sub-header-text {
      text-align: center;
      color: var(--text-secondary);
      font-size: 1.5rem;
    }
  }